#tableMatriculas td:last-child{
	text-align:center;
}
#tableMatriculas td:last-child input{
	width:auto;

}
.tableMatricularAlumnos th, .tableMatricularAlumnos td{
	width:33%;
	text-align:center;
}
#trTituloAsignatura th{
	text-align:center;
}
